.venv
**/logs/
**/*.mlir
**/*.json
parallel_results
plots
.parallel*
data/

*_bisection.cpp
*_bisection.h

*_closed.cpp
*_closed.h

*_direct.cpp
*_direct.h

*_greedy.cpp
*_greedy.h

*_gap-mono.cpp
*_gap-mono.h

*lattigo_main.go
*lattigo_run.go
*lattigo.go